/*--------------col with form------------*/
.col-with-form .overlay-outer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.col-with-form .overlay-outer .overlay-wrap {
    background: #0096e3;
    background: -webkit-linear-gradient(to right, #0096e3, #0044A7);
    background: linear-gradient(to right, #0096e3, #0044A7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.col-with-form .overlay-outer .overlay-wrap .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.col-with-form .overlay-outer .overlay-wrap .overlay-panel.left {
    transform: translateX(0);
}
.col-with-form .overlay-outer .overlay-wrap .overlay-panel.right {
    right: 0;
    transform: translateX(0);
}

/*--------------------card-slider-------------------*/
.card-slider .slide-wrap {
    padding: 0 11px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.card-slider .slide-wrap.slick-initialized {
    opacity: 1;
    visibility: visible;
}
.card-slider .slide-wrap .slide .card-wrap {
    padding: 30px 27px 18px 8px;
}
.card-slider .slide-wrap .slide .card-wrap .img-wrap {
    width: 100%;
}
.card-slider .slide-wrap .slide .card-wrap .content-wrap {
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
    padding: 35px 30px 40px 38px;
}
.card-slider .slide-wrap .slide .card-wrap .content-wrap h4 {
    color: #003478;
    margin-bottom: 4px;
}
.card-slider .slide-wrap .slide .card-wrap .content-wrap p {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #8a8888;
}
.card-slider .slide-wrap button {
    background-image: url("/img/next.png");
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
    background-position: center;
}
.card-slider .slide-wrap button.slick-disabled {
    background-image: url("/img/next-disabled.png");
}
.card-slider .slide-wrap .slick-prev {
    left: -50px;
    transform: rotateY(180deg);
}
@media (max-width: 767px) {
    .card-slider .slide-wrap .slick-prev {
        left: 0;
    }
}
.card-slider .slide-wrap .slick-next {
    right: -50px;
}
@media (max-width: 767px) {
    .card-slider .slide-wrap .slick-next {
        right: 0;
    }
}
/*-----------------col-two-grid-------------------*/
.col-two-grid {
    padding: 150px 0;
}
.col-two-grid .wrapper .card-wrap {
    background-color: #003478;
    max-width: 369px;
    padding: 30px 20px;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 24px;
    min-height: 290px;
}
.col-two-grid .wrapper .card-wrap .img-wrap {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin-bottom: 40px;
}
.col-two-grid .wrapper .card-wrap .img-wrap a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.col-two-grid .wrapper .card-wrap .img-wrap a:hover {
    background-color: black;
    opacity: 0.3;
}
.col-two-grid .wrapper .card-wrap .img-wrap img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.col-two-grid .wrapper .card-wrap .content-wrap h3 {
    color: white;
    margin-bottom: 20px;
}
.col-two-grid .wrapper .card-wrap .content-wrap p {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.col-two-grid .form-wrap {
    background-color: #edf1f5;
    padding: 40px 40px;
    border-radius: 10px;
    text-align: center;
}
.col-two-grid .form-wrap input {
    width: 334px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 0;
    padding: 7px 23px;
}
.col-two-grid .form-wrap textarea {
    overflow: auto;
    resize: none;
    height: 250px;
    width: 98%;
    border-radius: 10px;
    outline: none;
    border: 0;
}
.col-two-grid .form-wrap .blue-btn {
    align-self: auto;
    margin-top: 30px;
}
.col-two-grid .map-wrap iframe {
    border: 0;
    border-radius: 10px;
    margin-top: 20px;
    height: 438px;
    width: 100%;
}
/*----------------------hero-banner-----------------*/
.hero-banner {
    position: relative;
    height: 450px;
    padding: 0;
}
.hero-banner .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-banner .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.35;
    height: 100%;
    width: 100%;
}
.hero-banner .text-wrap {
    position: relative;
    text-align: center;
    top: 55%;
}
.hero-banner .text-wrap h4 {
    color: #fd7e14;
}
.hero-banner .text-wrap h2 {
    color: white;
}

/*---------------team cards--------------*/
.team .card-wrap {
    display: flex;
    align-items: center;
    background-color: #edf1f5;
    padding: 0;
    max-width: 583px;
    margin: 0 auto 50px;
    border-radius: 20px; }
.team .card-wrap:hover {
    box-shadow: 0 1.4rem 1rem rgba(0, 0, 0, 0.1); }
.team .card-wrap .img-wrap img {
    height: 417px;
    width: 274px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; }
.team .card-wrap .content-wrap {
    padding: 0 26px; }
.team .card-wrap .content-wrap .designation {
    position: relative;
    padding-bottom: 10px;
    color: black; }
.team .card-wrap .content-wrap .designation:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #0096e3;
    bottom: 0;
    left: 0; }
.team .card-wrap .content-wrap .share {
    max-width: 30px;
    display: inline-flex;
    position: absolute;
    bottom: 35px; }
.team .card-wrap .content-wrap .share img {
    margin-right: 15px; }


/*---------------client slider----------------*/
.client-slider {
    padding: 86px 0 94px;
    position: relative;
}
.client-slider:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0096e3;
    z-index: -1;
}
.client-slider .content-wrapper {
    padding: 10px;
}
.client-slider .slide-wrap {
    margin: 0 auto;
    transition: all .3s ease;
    height: 300px;
    max-width: 550px;
}
.client-slider .slide-wrap.slick-initialized {
    opacity: 1;
    visibility: visible;
}
.client-slider .slide-wrap .slick-list {
    overflow: visible;
}
.client-slider .slide-wrap .slide {
    padding: 0 15px;
    opacity: 0.5;
}
.client-slider .slide-wrap .slide.slick-current {
    opacity: 1;
}
.client-slider .slide-wrap .slide .card-wrap {
    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 68, 167, 0.5);
    border-radius: 10px;
    height: 100%;
}
.client-slider .slide-wrap .slide .card-wrap .img-wrap {
    max-width: 150px;
    margin-bottom: 40px;
}
.client-slider .slide-wrap .slide .card-wrap .content-wrapper:before {
    content: "";
    position: absolute;
    background-image: url("/img/qoute-bg.png");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
}
.client-slider .slide-wrap button {
    background-image: url("/img/next.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    background-size: 100%;
    background-position: center;
}
.client-slider .slide-wrap button.slick-disabled {
    background-image: url("/img/next-disabled.png");
}
.client-slider .slide-wrap button::before {
    content: '';
    background: transparent;
}
.client-slider .slide-wrap .slick-prev {
    left: auto;
    bottom: 0;
    transform: rotateY(180deg);
    z-index: 1;
}
.client-slider .slide-wrap .slick-next {
    bottom: 0;
    right: 0;
}


/*------------sign-in-----------------*/
.signin , .sign-up {
    padding-top: 150px;
}

/*---------form global-------------*/
.form-wrap .wrapper {
    max-width: 550px;
    margin: 0 auto;
    background-color: #edf1f5;
    padding: 40px 40px;
    border-radius: 10px;
}
.form-wrap .wrapper .signin-head {
    margin-bottom: 40px;
}
.form-wrap .wrapper .signin-head h2 {
    text-align: center;
    margin-bottom: 30px;
}
.form-wrap .wrapper .signin-head .form-wrap {
    margin-bottom: 20px;
}
.form-wrap.wrapper .signin-head .form-wrap label {
    margin-bottom: 5px;
}

/*----------------user dashboard----------------*/
.dashboard section {
    width: 50%;
    margin-left: auto;
}
.dashboard .header-right .profile-menu .img-user img {
    width: 40px;
    float: right;
}
.sidebar {
    width: 300px;
    height: 100%;
    background-color: #0096e3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 20px;
    color: #fff;
    overflow: scroll;
}
.sidebar .sidebar-loggedin {
    display: flex;
    align-items: center;
}
.sidebar .sidebar-loggedin .img-user {
    width: 40px;
}
.sidebar .sidebar-loggedin .media-body .user-name  {
    font-weight: 900;
    position: relative;
    margin: 0 10px;
}
.sidebar .sidebar-loggedin .media-body .user-name:after {
    content: '|';
    position: absolute;
    right: -10px;
    top: 0;
}
.sidebar .sidebar-body {
    margin-top: 30px;
}
.sidebar .sidebar-body ul {
    list-style:none;
    padding: 0;
}
.sidebar .sidebar-body ul li {
    margin-bottom: 10px;
}
.sidebar .sidebar-body ul a:hover {
    text-decoration: none;
}
.sidebar .sidebar-body .dash {
    background-color: #fff;
    color: #003478 !important;
    padding: 10px 10px;
}
.sidebar .sidebar-body .head.dash:before {
    display: none;
}
.sidebar .sidebar-body .dash:after {
    content: "";
    background-image: url(/img/dashboard.svg);
    position: absolute;
    top: 6px;
    right: 15px;
    height: 40px;
    width: 40px;
    background-size: contain;
    border: 2px;
}

.sidebar .sidebar-body .sidenav .head {
    font-size: 20px;
    color: #fff;
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.sidebar .sidebar-body .sidenav .head:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    bottom: -8px;
    left: 0;
}

.sidebar .media-body span {
    font-size: 20px;
    color: black;
    font-weight: 600;
}


.sidebar .sidebar-header{
    display: flex;
}
.sidebar .sidebar-header h1{
    font-size: 26px;
}
.sidebar .sidebar-header .toggle-menu{
    margin-left: auto;
    cursor: pointer;
    transition: all .3s ease;
}
.sidebar .sidebar-header .toggle-menu img{
    max-width: 32px;
}
.sidebar.collapsed {
    width: 70px;
}
.sidebar.collapsed .sidebar-header h1{
    display: none;
}
.sidebar.collapsed .sidebar-header .toggle-menu{
    transform: rotate(180deg);
}
.sidebar.collapsed .sidebar-loggedin{
    display: none;
}
.sidebar.collapsed .sidebar-body{
    display: none;
}
.sidebar .sidebar-loggedin {
    display: flex;
    align-items: center;
}
.sidebar .sidebar-loggedin .img-user {
    width: 40px;
}
.sidebar .sidebar-loggedin .media-body .user-name  {
    font-weight: 900;
    position: relative;
    margin: 0 10px;
}
.sidebar .sidebar-loggedin .media-body .user-name:after {
    content: '|';
    position: absolute;
    right: -10px;
    top: 0;
}


/*dashboard*/

.dashboard .content-header {
    margin-bottom: 40px;
}

.policy {
    width: 90% !important;
    position: relative;
}
.policy:after {
    content: "";
    background: url(/img/swipe.png) no-repeat;
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 100px;
    height: 100px;
    background-size: contain;
}

.policy h2 {
    text-align: center;
}

.user {
    width: 90% !important;
}
.user h2 {
    text-align: center;
}
.admin-dashboard .content-body .admin {
    margin-bottom: 40px;
    width: 100%;
    min-height: 157px;
    max-width: 450px;
    display: flex;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 30px 20px;
    background-image: url(/img/graph.png);
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 110% 24px;
    background-size: contain;
}

.admin-dashboard {
    width: 70% !important;
}
.admin-dashboard .content-body .admin .media-body h6 {
    font-size: 24px;
    font-weight: 900;
}
.admin-dashboard .content-body .admin .media-body span {
display: block;
max-width: 126px;
}


.emi-calculator .form-wrap input  {
    display: block;
    width: 250px;
}
.emi-calculator .form-wrap .btn-default {
    margin-top: 20px;
}